<div class="header">
  <h1>Search Summoner</h1>
  <h1>Europe Nordic & East</h1>
  <img src="https://yt3.googleusercontent.com/68s19fmu6QktKduViaG7Yt3XMrBzCp5zhU2EFgOatkYqbo89Laq-r3rhjPmGjxFE5-wp_KQo=s900-c-k-c0x00ffffff-no-rj" alt="" width="250" height="200">
</div>

<div id="cover">
  <form action="/result">
    <div class="tb">
      <div class="td"><input type="text" name="SummonerName" placeholder="Search" required></div>
      <div class="td" id="SummonerName">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div>